@page
@model ProiectMediiTry5.Pages.Jobs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Titlu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Titlu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.TermenLimita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.TermenLimita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Finalizat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Finalizat)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Job.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
